body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.pedidos {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.pedidos h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
}
.eliminar-btn {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px; /* Agregar espacio entre el texto y el botón */
}

.eliminar-btn:hover {
    background-color: #d32f2f; /* Rojo oscuro al pasar el ratón */
}

/* Estilos para los elementos de la lista */
.lista-item {
    margin-bottom: 10px; /* Agregar espacio entre los elementos de la lista */
}