body{
    background-image: url(../img/food.png);
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.container{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    margin: 0 30px;
    font-size: 30px;
}
#deli{
    text-align: center;
    margin-top: 80px;
}
h1{
    font-size: 80px;
    margin: 0;
}
h2{
    font-size: 30px;
    margin: 2px 0 15px;
}
button{
    padding: 15px 30px;
}
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
}
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: pulse 2s infinite; 
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
a{
    cursor: pointer;
}
